In [10]:
import praw
import pandas as pd

In [27]:
CLIENT_ID = input("CLIENT_ID?")
CLIENT_SECRET = input("CLIENT_SECRET?")
USER_AGENT = f"python:{CLIENT_ID}:0.1 (by /u/YOUR_NAME)"

In [28]:
submissions = api.subreddit("netherlands").hot(limit = 100)

In [29]:
results = api.subreddit('netherlands').hot(limit = 100)
submissions = []
for result in results:
    submissions.append({
        "title" : result.title,
        "score" : result.score,
        "comments" : result.num_comments
    })

In [30]:
df = pd.DataFrame(submissions)
df.head()

   comments  score                                              title
0        41      5        I'm thinking of studying in The Netherlands
1         9      9                     High quality cocoa in Den Haag
2        10      1                     Good spot near border to shop?
3         3      3  Tips voor een starter die op zoek is naar een ...
4         2      1  New rent allowance (huurtoeslag) application a...

In [31]:
df2 = df.head()
df2

   comments  score                                              title
0        41      5        I'm thinking of studying in The Netherlands
1         9      9                     High quality cocoa in Den Haag
2        10      1                     Good spot near border to shop?
3         3      3  Tips voor een starter die op zoek is naar een ...
4         2      1  New rent allowance (huurtoeslag) application a...

In [32]:
df.to_json("testredditnetherlands.json")