In [10]:
import praw
import pandas as pd

In [11]:
CLIENT_ID = "MptF79St062qTQ"
CLIENT_SECRET = "880i4SDcL2Y3PBh8d4CS6aFJaOU"
USER_AGENT = f"python:{CLIENT_ID}:0.1 (by /u/YOUR_NAME)"

api = praw.Reddit(
    client_id = CLIENT_ID,
    client_secret = CLIENT_SECRET,
    user_agent = USER_AGENT
)

api.read_only

True

In [20]:
submissions = api.subreddit("netherlands").hot(limit = 100)

In [21]:
results = api.subreddit('netherlands').hot(limit = 100)
submissions = []
for result in results:
    submissions.append({
        "title" : result.title,
        "score" : result.score,
        "comments" : result.num_comments
    })

In [26]:
df = pd.DataFrame(submissions)
df.head()

   comments  score                                              title
0        41      7        I'm thinking of studying in The Netherlands
1         9     11                     High quality cocoa in Den Haag
2        10      1                     Good spot near border to shop?
3         3      3  Tips voor een starter die op zoek is naar een ...
4         2      1  New rent allowance (huurtoeslag) application a...

In [24]:
df2 = df.head()
df2

   comments  score                                              title
0        41      7        I'm thinking of studying in The Netherlands
1         9     11                     High quality cocoa in Den Haag
2        10      1                     Good spot near border to shop?
3         3      3  Tips voor een starter die op zoek is naar een ...
4         2      1  New rent allowance (huurtoeslag) application a...

In [25]:
df.to_json("testredditnetherlands.json")